.nav-header {
  font-family: 'Encode Sans SC', sans-serif;
  font-weight: 900;
  color: #320d3e;
}

.user-detail {
  background-color: #320d3e;
  color: white;
}

.select-user-card {
  height: 304px;
}

.lds-circle {
  display: inline-block;
  transform: translateZ(1px);
}
.lds-circle > div {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  background: #320d3e;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes lds-circle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}

.user-card-dashboard {
  font-family: "Dosis", sans-serif;
  font-weight: 300;
  border: 3px solid #320d3e;
}
.user-details-img{
  /* background-color: #320d3e; */

  border: 0px 3px 3px 3px solid #320d3e;
}
.user-button {
  cursor: pointer;
  background-color: #320d3e;
  color: #ffffff;
  border: 1px solid #320d3e;
}

.user-button:active {
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #320d3e;
  color: #320d3e;
}

.user-button:hover {
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #320d3e;
  color: #320d3e;
}